[2016-05-05 20:37] zimpower opened #9 "Do you expect replication / syncing to work?"
Apologies if this is already asked / answered.
I tried the following in a React Native component.

[code]
And got the following error:
[code]
![screen shot 2016-05-05 at 21 29 51](https://cloud.githubusercontent.com/assets/3992242/15056291/af10bfe6-1308-11e6-893b-e0de6c3a4d7d.png)

[2016-05-06 12:30] stockulus commented on #9
I expected it to work, but it does not :(
There is still a Problem with through2 in this situation

[2016-05-06 15:43] stockulus commented on #9
Hi zimpower,

please try again with the newest version. It should work now.

Christoph

[2016-05-08 09:42] zimpower commented on #9
Thanks Christoph,
Firstly - thanks for writing this library... big help!
The latest fix has definitely improved things - replication is working!
My test app syncs the local DB with a remote DB (LAN) and replicates state well.
Tested:
1- starting with no network
2- starting with an empty local db
All looks good.

However, when I leave it running I still see a reoccurring warning, which I assume eve

[2016-05-09 12:12] stockulus commented on #9
Hi,

not sure what is going wrong there. I'll try to create an sample App this Week and try out. I'll let you know.

Christoph

[2016-05-09 13:11] zimpower commented on #9
Thanks sir.

Am I even using the right pattern for interacting with PouchDB?
My next step would be to try and integrate with redux...

[2016-05-10 15:10] stockulus commented on #9
Hi,

still i did not find the time to implement a sample app, but the app i am currently developing the replication works now. (to a PouchDB with PouchDB-express)

The internals of the PouchDB replication depend on atob, btoa and Blob. They are not available in core-js (react-native) so i added them. Properly you find the time and try it again.

Greetz from Cologne
Christoph

[2016-05-10 16:39] sherylynn opened #10 "Does it works well with pouchdb plugin about" pouchdb-authentication""
do you have any plan ?

[2016-05-11 09:06] stockulus commented on #10
I am not sure about it, seems that the package pouchdb-authentication is designed for browser, so you might get Problems, but just try it.

[2016-05-11 10:01] stockulus commented on #10
I tried it, seems to work as expected

[2016-05-11 10:01] #10 closed

[2016-05-13 07:13] felarof99 commented on #9
Hi guys,
This library is a life saver, thanks!

@stockulus sync works for me. But I'm also getting the same warning messages like @zimpower (check attached images). I'm using your latest version (installed today)

"pouchdb": "^5.3.2",
"pouchdb-asyncstorage-down": "^1.1.6",

![warning](https://cloud.githubusercontent.com/assets/1309931/15240548/2341dd82-1908-11e6-8dea-3705e4052538.png)

![warning e

[2016-05-14 18:23] zimpower commented on #9
I upgraded to 1.1.0 but am still facing the issue. Bug seems to do with the `sync` with `options` including `{retry:true}` code, but I am not capable enough to help find it...

I'm getting around this for now by using a timer and polling on an interval...
[code]

[2016-05-16 01:51] sherylynn commented on #10
Would you mind to show a sample ？ I still get error

[2016-05-16 02:11] sherylynn commented on #10
![70120974454668975](https://cloud.githubusercontent.com/assets/1698595/15278674/822cfed8-1b4e-11e6-9c4a-15a420625258.png)
![237748539711448476](https://cloud.githubusercontent.com/assets/1698595/15278675/826b9ed6-1b4e-11e6-9364-413c86bbc6f8.jpg)

[2016-05-17 16:02] stockulus commented on #10
Hi,

There is now a small sample app. can you just create a pull request on it with your Problem, so I can check.

Thanks

[2016-05-20 03:07] felarof99 commented on #9
I found another react-native-pouchdb implementation... https://github.com/carbureted/react-native-pouchdb

@zimpower have you checked it out?

[2016-05-26 15:31] aprihodko commented on #9
When I try to sync documents with attachments I get the following

`[warn][tid:com.facebook.react.RCTNetworkingQueue][RCTNetworking.m:343] Received data was not a string, or was not a recognised encoding.`

Does anyone have the same issue?

[2016-05-27 00:52] ichagas commented on #9
Convert to Base64, perhaps? Don't use Blob

[PouchDB Guide](https://pouchdb.com/guides/attachments.html#how-attachments-are-stored)

[2016-05-27 03:45] aprihodko commented on #9
@ichagas I put them in PouchDB as Base64. And 'push' direction in syncing works fine - I see images in CouchDB. But then I try to pull changes, it fails with an error mentioned.

[2016-05-27 10:26] stockulus commented on #9
@aprihodko would you mind to put an example in the "example" project and do a Pull Request?

[2016-06-05 23:32] zimpower commented on #9
Any chance the db sync issue is related to this similar issue posted on pouch PB GitHub: [https://github.com/pouchdb/pouchdb/issues/5114](https://github.com/pouchdb/pouchdb/issues/5114).

I am syncing from simulator to couchdb on Mac on same LAN....

[2016-06-06 07:32] stockulus commented on #9
I guess it is related. Currently PouchDB is being restructured. I am waiting this to finish. It will allow this Packages to restructure much easier. Properly it is necessary to reimplement the Pouchdb ajax functions for react native, but it will be possible then.

There is also a Bug with null and undefined values in abstract_level_down values, waiting for my Pull request to be integrated. So if y

[2016-06-07 16:00] stockulus commented on #9
PouchDb 5.4 has been Release:
I restructured the Project a bit, here is the new Bundle:
https://github.com/stockulus/pouchdb-asyncstorage-down/tree/master/packages/pouchdb-react-native

[2016-06-07 22:10] zimpower opened #11 "New Remote DB error"
My app has stopped working post upgrade.
Connecting to the local DB works fine but connecting to remote DB fails now.
Am I doing something wrong?
[code]
Produces the following console output:
[code]
Running the same script from Node directly seems to work.

[2016-06-07 22:34] stockulus commented on #11
Did you update pouchDB? The new version of pouchdb might not work with this package, use pouchdb-react-native bundle. But i'll check tomorror, good Night

[2016-06-08 01:23] eduardolima93 opened #12 "Filtered replication"
Hi,

Does it work with server-side filtering using a design doc filter? I have tried implementing it but with no success.

[2016-06-08 12:55] stockulus commented on #12
Hi,

it should work, tested it actually one. Can you provide me an Sample, so that I can check?

[2016-06-08 13:10] #11 closed

[2016-06-08 13:10] #9 closed

[2016-06-08 13:12] stockulus opened #13 "HELP Wanted! / Automatic Testing"
Is there somebody here with experience in automatice react-native Testing?

And would like to help?

Thanks!
Christoph

[2016-06-08 18:11] zimpower commented on #11
Thanks for the update. I deleted all pouchdb packages and reinstalled `pouchdb-react-native@5.4.3` and so far everything working great. Syncing now works without warning/errors:
[code]

[2016-06-09 00:16] eduardolima93 commented on #12
The problem I'm facing is actually a couchdb bug: https://github.com/pouchdb/pouchdb/issues/1641

If you still have the design document you used when you tested it can you post it here?

Thanks!

[2016-06-09 01:37] eduardolima93 commented on #12
Never mind, this issue appear only to happen on couchdb on my pc, its working using a cloud service.

[2016-06-09 01:37] #12 closed

[2016-06-09 06:45] stockulus commented on #12
currently i just test against express-pouchdb in my node service, but there the Filter looks like

[code]

but automatic testing is still an issue...
https://github.com/stockulus/pouchdb-react-native/issues/13

[2016-06-13 05:42] seigel opened #14 "Possible memory leak when replication set up"
When doing a simple test having a local data base replicating to a remote one.  If I just let the app sit there I eventually get a log spit out on the command line:

(node) warning: possible EventEmitter memory leak detected. %d listeners added. Use emitter.setMaxListeners() to increase limit.

[2016-06-13 08:32] stockulus commented on #14
Hi Seigel,

can you provide me your setup/code?
Thanks Christoph

[2016-06-17 05:23] JuSeonghyeok commented on #14
Hi, @stockulus.
First of all, thanks for sharing your work.
I am also having same issue as @seigel does.

The way I tested was running the example app. And I set local couchdb to the sync input.
Initially before the "memory leak problem" error happens, sync works.
'Sync paused' is called several times for a while, then this leads to memory leak problem.

[2016-06-21 13:32] aprihodko opened #15 "Does it have any storage limits with this adaptor?"
PouchDB docs suggest using the WebSQL adaptor as it limited only by a free space. Does AsyncStorage have any limitations?

[2016-06-22 06:04] stockulus commented on #15
Hi,

The AsynStorage stores the data in
https://facebook.github.io/react-native/docs/asyncstorage.html
I do not know any Limits, but currently the adapter uses a Leveldown wrapper, and not AsyncStorage directly. The Leveldown wrapper stores all Keys in memory, so I would not recommend to store > 10000 Docs, because of memory. I currently working on avoiding to use the Leveldown bridge, and write a

[2016-06-22 06:14] stockulus commented on #14
see the Problem Problem with CouchDb (my Projects syncs to a Node.js PouchDB) I'll check out, but can't Promise anything within the next days, because of a jam-packed week and weekend.

As current workaround you can do "Onetime Syncs" called in setInterval

If you can fixing it, would be great. I'd accept your Pull request.

[2016-06-26 03:42] seigel commented on #14
I think I found where some of this is happening.  It might be a core pouchdb problem with replication.

Add code something like this to your pouchdb react native app:

[code]

You will notice that the number of listeners will grow with time.  I think there might be one more event that exhibits this behaviour.  After editing some source code and watching for a while, I found that one way to reset t

[2016-06-27 11:54] #15 closed

[2016-06-27 19:56] seigel commented on #14
Seems to be a timing thing possibly.  There is a fix in pouch that will avoid the timing badness, but I am still trying to track down the root cause.

[2016-06-28 07:08] stockulus commented on #14
Thanks for your help! Hope I find some time this Weekend and will also have a deeper look.

[2016-07-21 17:11] nwlieb opened #16 "Local database hangs after large syncs (no writedb in Transform class)"
When syncing from a remote database to a local one, after two batches  (defaults to 100 documents, can use options.batch_size in PouchDB.sync() to change) the local database will hang with the following warning appearing:

Possible Unhandled Promise Rejection (id: 0): no writecb in Transform class

The stack trace of the promise rejection is not very useful so beyond that I'm at a loss. Curiously,

[2016-07-22 10:25] stockulus commented on #16
Hi,

just did
git clone https://github.com/nwlieb/pouch-react-test
cd pouch-react-test
npm install
node ./node_modules/react-native/local-cli/cli.js run-ios
(CouchDb running in a Docker Container, local, klaemo/couchdb)
(node v6.3.0)

<img width="957" alt="screen shot 2016-07-22 at 12 21 48" src="https://cloud.githubusercontent.com/assets/3983944/17054343/ebf7f66e-5006-11e6-9138-490e34ddf381.png">

[2016-07-22 18:01] nwlieb commented on #16
Hi, please try increasing the remote docs insert count to 2000 from 300, that should do it. Otherwise, just keep reloading the app and you should see it eventually.
![screen shot 2016-07-22 at 11 59 32 am](https://cloud.githubusercontent.com/assets/6896394/17066332/c91468d8-5003-11e6-8c07-5ed8dd6564e1.png)

Thanks for your great work.

[2016-07-23 10:02] Jan-Jan opened #17 "PouchDB is not a constructor"
Thank you for !

If I run
[code]

I get the error message in ios `PouchDB is not a constructor`

[2016-07-23 10:05] Jan-Jan opened #18 "self.constuctor.replicate is not a function"
Thank you for pouchdb-react-native!

When I `react-native run-ios`
[code]
I get the error `self.constuctor.replicate is not a function`

[2016-07-23 14:41] Jan-Jan commented on #18
I've redone the project from scratch: If I instansiated it with
[code]
then it all appears to work, but the above error remains.

[2016-07-23 14:42] Jan-Jan commented on #17
I've reinstalled everything, and redone the project from scratch. It appears to be working constructor now.

[2016-07-23 14:42] #17 closed

[2016-07-23 15:10] Jan-Jan opened #19 "Received data was not a string, or was not a recognised encoding."
Thank you for pouchdb-react-native

I've done your basic install, and it looks like I can create a local instance, but when I attempt sync I get warnings to the effect of `Received data was not a string, or was not a recognised encoding`.
If I attempt sync to this DB from other instances it is not a problem though.

[2016-07-23 17:57] Jan-Jan commented on #19
This is my code
[code]

I also get a further repeated warning:
[code]

[2016-07-23 18:14] Jan-Jan commented on #19
Could this have anything to do with me having attachments (type 'image/jpeg') in my db instance? (PS. I setup my db using cradle.)

[2016-07-24 08:29] stockulus commented on #19
Could you provide me an Example CouchDB with the Problem? thanks!

[2016-07-24 08:30] stockulus commented on #18
thinks this is done, when i look at the other issue... Ok?

[2016-07-24 08:30] #18 closed

[2016-07-25 18:37] Jan-Jan commented on #19
With pleasure, where do you normally set something like that up?

[2016-07-26 07:51] stockulus commented on #19
you could just attacht the .couch file (/usr/local/var/lib/couchdb) or provide some js code that generates it.

[2016-07-26 13:34] Jan-Jan commented on #19
[mammals_of_southern_africa.couch.zip](https://github.com/stockulus/pouchdb-react-native/files/383911/mammals_of_southern_africa.couch.zip)

[2016-07-26 13:35] Jan-Jan commented on #19
[db.couch.zip](https://github.com/stockulus/pouchdb-react-native/files/383916/db.couch.zip)

[2016-07-27 16:45] stockulus commented on #16
Hi, I can now reproduce the Error, comes from https://github.com/nodejs/readable-stream, just do not know why.

I am currently planning to rewrite the adapter, without all the leveldown simulation; this should solve the issue

[2016-08-01 10:38] stockulus commented on #19
I hope it will get fixed with the new react-native version.

https://github.com/facebook/react-native/commit/08c375f828fd7755b75660c701c70207f3629c6c

[2016-08-01 10:58] Jan-Jan commented on #19
Thank you for your effort in helping me.
Lets both hope for v31 :-)

[2016-08-01 10:58] #19 closed

[2016-08-21 21:27] abelcha commented on #16
Hi @stockulus, Same problem here, when do you think it'll be fixed ?

[2016-08-24 08:35] YurySolovyov opened #20 "No need to use fs as npm dependency"
Hi!
`fs` is a node core module, there is no need to include it as npm dependency
See https://github.com/npm/npm/issues/13743

[2016-08-25 05:48] stockulus commented on #16
I have to finish a Project this Week, hope i get some time next week. You could help me with working Testsetup if you want / seen some react-native-mock, already used it in an other Project.

[2016-08-25 05:54] stockulus commented on #20
just remove did not work, there need to be also code changes in the adapter

[2016-08-25 08:58] ewnd9 commented on #13
Hi, I'm playing with running tests from original PouchDB repo in my fork https://github.com/ewnd9/pouchdb-react-native/tree/patch-1 Hopefully will make a pull request soon.

Unit tests are passing (don't contain adapter logic), integration have following stats:

[code]

Does this approach make sense?

[2016-08-25 11:10] stockulus commented on #13
Hi! Thank you!!!

i integrated it into the master brach and changed it to standard.js style.

Seems that there are Problems with the Attachment.

[2016-08-25 11:22] ewnd9 commented on #13
Could you also enable Travis?

[2016-08-25 11:44] stockulus commented on #13
done

[2016-08-26 11:20] DanielMaly opened #22 "Unable to create new databases in >5.4.13"
Using any version of pouchdb-react-native later than 5.4.13, the following two lines will cause an error if the created database doesn't exist yet:

[code]
<img width="374" alt="screenshot 2016-08-26 13 17 44" src="https://cloud.githubusercontent.com/assets/1443921/18003729/d3cac8e2-6b8f-11e6-98ae-a12a72bc2a7d.png">

[2016-08-27 19:01] abelcha commented on #16
I'll be glad to participate on the project,
So if i understood correctly, i should create a test-case app with react-native-mock ?

[2016-08-29 08:47] satanmonkey opened #23 "Requiring unknown module "util"."
I run the example and get a error

android 4.1.2

![screenshot_2016-08-29-16-35-28_com supervision_react_native](https://cloud.githubusercontent.com/assets/8189281/18045976/33eae886-6e08-11e6-9f19-ceef74bb6950.png)

[2016-08-29 10:28] stockulus commented on #22
please stay with 5.4.13 i am working on a version without leveldb, to avoid dependencies with node core packages

[2016-08-29 10:28] stockulus commented on #23
please take 5.4.13 i am working on a version without leveldb, to avoid dependencies with node core packages

[2016-08-29 10:29] stockulus commented on #16
already got help with the test setup, I let you know shortly when i need some help with testing the new version

[2016-08-29 12:16] DanielMaly commented on #22
Ok, please let me know once it's safe to upgrade again.

[2016-08-29 13:51] stockulus commented on #23
should be fixed with 5.4.19, please try

[2016-08-29 13:51] stockulus commented on #22
should work in 5.4.19, please try. Thanks. Sorry for the problems.

[2016-08-29 13:53] #13 closed

[2016-08-29 15:37] ewnd9 commented on #13
What about other types (integration/map-reduce) of tests in addition to unit?

[2016-08-29 16:23] stockulus commented on #13
will follow, currently working on the leveldb less adapter, in order to get them working step by step

[2016-08-30 01:07] abelcha commented on #16
Ok perfect then, let me know if you need a hand

[2016-08-30 02:10] satanmonkey commented on #23
I tried to upgrade to 5.4.19 , can run , but pouchdb can not work, the Promise object not fulfilled or rejected

`    const updateDocs = () => {
      localDB.allDocs({include_docs: true, limit: null})
        .then(result => {
		  console.log('allDocs');
          const items = result.rows.map(row => row.doc)
          const ds = new ListView.DataSource({rowHasChanged: (r1, r2) => r1.id !== r2.id

[2016-08-30 07:08] stockulus commented on #13
-> Can’t automatically merge. Don’t worry, you can still create the pull request.

can you merge all changes i did before, thanks

[2016-09-06 18:19] ck-alpha commented on #16
Just to confirm that I am also seeing the error on occasion. Am using pouchdb-react-native with Cloudant and pouchdb-authentication-cloudant. Not exactly sure how to reproduce in my setup. I am replicating a local database to a remote one like the following:

var replicator = PouchDB.replicate(db, remotedb, {
    live: true,
    retry: true
  });

[2016-09-06 21:03] ewnd9 commented on #16
@ck-alpha What version of `pouchdb-react-native` do you use?

[2016-09-07 15:38] ck-alpha commented on #16
It is 5.4.6 @ewnd9

[2016-09-09 13:26] josenavarro-famoco commented on #23
I get the same error in the version 6.0.0, with an android device running android 4.4.2

[2016-09-09 13:55] stockulus commented on #23
would you like to try the beta, it comes without all the leveldown / node dependencies
npm install pouchdb-react-native@next --save

[2016-09-09 14:11] stockulus commented on #22
would you like to try the beta, it comes without all the leveldown / node dependencies
npm install pouchdb-react-native@next --save

[2016-09-09 14:11] stockulus commented on #20
would you like to try the beta, it comes without all the leveldown / node dependencies
npm install pouchdb-react-native@next --save

[2016-09-09 14:14] YurySolovyov commented on #20
@stockulus sorry, I just created this issue because I found the repo in npm search of `fs` deps, I don't actually use the module.

[2016-09-09 14:28] josenavarro-famoco commented on #23
@stockulus It works with that. Thanks

[2016-09-09 15:51] josenavarro-famoco opened #24 "Error in sync with remoteDB, cannot read 'forDocument'"
When I try to connect to a remoteDB, i get the following error
Cannot read property 'forDocument' of undefined
I tried to sync in many ways, and i always get the same error.
Any idea why or how can i solve it?

I am using the version @next

[2016-09-10 07:13] stockulus commented on #24
there was a bug in the beta ...
update to 6.1.0-beta-7

[2016-09-10 07:42] DanielMaly commented on #22
I'll try it, thanks! I think it's safe to close this issue now.

[2016-09-10 07:42] #22 closed

[2016-09-10 07:59] stockulus commented on #20
node / leveldown dependencies removed

[2016-09-10 07:59] #20 closed

[2016-09-14 10:57] #24 closed

[2016-09-14 14:41] #23 closed

[2016-09-15 09:24] stockulus opened #27 "FileReaderSync is missing (replication)"
Workaround:
add in your /node-modules/pouchdb-binary-utils/package.json:

  "react-native": {
    "./lib/index.js": "./lib/index.js",
    "./src/base64.js": "./src/base64-browser.js",
    "./src/base64StringToBlobOrBuffer.js": "./src/base64StringToBlobOrBuffer.js",
    "./src/blob.js": "./src/blob.js",
    "./src/binaryStringToBlobOrBuffer.js": "./src/binaryStringToBlobOrBuffer.js",
    "./src/blo

[2016-09-15 09:25] stockulus commented on #16
should be fixed in the latest version, but see issue
https://github.com/stockulus/pouchdb-react-native/issues/27

[2016-09-15 09:25] #16 closed

[2016-09-15 09:26] stockulus commented on #14
should be fixed in the latest version, but see issue
https://github.com/stockulus/pouchdb-react-native/issues/27

[2016-09-15 09:26] #14 closed

[2016-09-15 10:17] stockulus commented on #27
added setup hack, that overrides the package, till this is merged in pouchdb

[2016-09-15 10:20] #27 closed

[2016-09-15 11:31] stockulus opened #28 "Code Review wanted"
With a little #pouchdb adapter know how would be perfect :)

PullRequest welcome!

[2016-09-22 08:53] DanielMaly opened #30 "Flooded by requests on _local documents when doing live replication"
In v6, setting up live replication with a remote database results in thousands of requests like GET /_local/yT_xIqhfqh6Aa5f9gahWVg%3D%3D?. Watching the local database for changes is impossible, as there are hundreds of changes to these documents every second. I don't know how the internals of Couch replication work but this didn't happen under v5. Shouldn't _local documents be ignored by replicati

[2016-09-22 09:35] winglight opened #31 "I'm wondering if this great component supports to sync with parse-server?"
I hope it's possible to sync data of pouchdb with parse-server that's the bundle of restful apis. Or should I make an adapter? Any idea would be appreciated.

[2016-09-22 09:50] stockulus commented on #30
may you try 6.1.10

[2016-09-22 10:03] stockulus commented on #31
I do not have experience with "parse-server". I personally do not use the direct Sync of PouchDB, I have a small node service in between handling the changes / user rights etc; reading the changes from pochdb-node + filter + geo logic.

In general the component should sync to PouchDB / CouchDB Http interfaces. If you need an PouchDB adapter for "parse-server" Properly you need to write one.

I Sta

[2016-09-22 10:05] ewnd9 commented on #31
Take a look at https://github.com/ParsePlatform/parse-server/wiki/Parse-LiveQuery from `parse-server` side and https://pouchdb.com/guides/changes.html from `pouchdb` side.

[2016-09-22 10:20] DanielMaly commented on #30
It works great now, thanks!

[2016-09-22 10:20] #30 closed

[2016-09-23 00:37] winglight commented on #31
Thanks a lot! I think it's necessary to sync db by manual way to save changed data by change api. And I'm wondering how can I get changed data without any config for remote api?

[2016-09-23 01:19] #31 closed

[2016-09-29 00:10] ahaus opened #32 "Storing an attachment fails"
Hi,
I tried to store an attachment as an inline attachment and also tried the db.putAttachment method. But I did not get it working. Also checked your example implementation.

I tried

[code]

But it fails with a strange message (Xcode console)

[code]

It is the same with inline attachments.
Storing documents without attachments works fine.

Tested with ios: 9.3 (ipad device and iphone 6 simulato

[2016-09-29 01:01] ahaus commented on #32
Maybe this is related to https://github.com/pouchdb/pouchdb/pull/5687

[2016-09-29 08:45] stockulus commented on #32
Hi @ahaus,

this is related somehow. i guess the setup did not work correctly on your mashine.

Can you tell me the verion of npm you are using.
where in the node_modules/ folder of the Project is pouchdb-binary-utils?
had you an error / warning after installtion of pouchdb_react_native?

[2016-09-29 10:53] ahaus commented on #32
Hi,
npm --version shows:
3.10.3
I am using nodejs 6.6.0.

The module pouchdb-binary-utils is on the same level as all the other pouchdb modules in ./node_modules.

Didn't see errors on installation.

[2016-09-29 10:55] ahaus commented on #32
Hi @stockulus,
FYI: I am also experimenting with https://github.com/carbureted/react-native-pouchdb which uses https://github.com/andpor/react-native-sqlite-storage as a websql adapter and a specific version of pouchdb.

[2016-09-29 11:17] stockulus commented on #32
hmmm strange... this is working for me... can you check pouchdb-binary-utils / package.json
if there is a section with react-native?

[code]
if not, add it manually.

This will be added after installation of the pouchdb-react-native packages. If you install different pouchdb packages afterwards, it might get overridden.

Pouchdb currently does not accept the PR pouchdb/pouchdb#5687, so i do not kn

[2016-09-29 12:05] ahaus commented on #32
Thanks for your help and your fast response.

Did a reinstallation. The installation log doesn't show any errors. Also pouchdb-binary-utils/package.json shows the entries as mention above (without formatting).

However the error message regarding FileReaderSync still occurs.

Maybe the package is not loaded correctly. I am using React 0.33.

npm info:
[code]

[2016-09-29 12:12] stockulus commented on #32
Can you try to start the example
git clone https://github.com/stockulus/pouchdb-react-native.git
cd pouchdb-react-native/example
npm install
npm run ios
-> Action Button InsertAttachment

[2016-09-29 12:32] ahaus commented on #32
Thanks. I tried the example as state above. Still getting the same error.

Xcode console output:
[code]

[2016-09-29 14:02] ahaus commented on #32
One more hint. FileReaderSync is used in the methods
[code]

[2016-09-29 16:42] ahaus commented on #32
I tracked the problem down. There is a type mismatch in node_modules/pouchdb-binary-utils/lib/index.js with the function readAsArrayBuffer().

It assumes a Blob as an argument however the value given in the argument is of type Uint8Array which causes a problem with reader.readAsArrayBuffer(blob);

[2016-09-29 18:16] stockulus commented on #32
can not find the problem that quickly, seems something changed in PouchDB.. properly i have some time tomorror

[2016-09-29 22:13] ahaus commented on #32
Hi,
got it working (workaround) for Base64 strings but not for Blobs yet.

The problem is in pouchdb-adapter-asyncstorage/bulk_docs.js using wrong data types.
1. It calls the function readAsArrayBuffer() in pouchdb-binary-utils/lib/index.js with Uint8Array and not using a Blob as expected (called from binaryMd5())
2. global.btoa(binData) throws an error if the base64 contains non latin1 characters

[2016-09-30 13:32] ahaus commented on #32
Just for info:
Others might ran in the storage limitation of Android. On Android asyncstorage has a limitation of 6 MB per default. I am also temporarily storing images for synchronization in PouchDB so this limit is reached very quickly. I overcome this by setting the maximum size when starting the app in MainApplication.getPackages() using

`long size = 50L * 1024L * 1024L;   // 50 MB   com.face

[2016-09-30 13:37] stockulus commented on #32
found the other Bug, just not sure how to find good solution...
Will Take the Storage Note into the readme

[2016-09-30 14:36] stockulus commented on #32
@ahaus there is a new Version 6.1.15 out right now. It is not using the pouchdb_md5 anymore, makes it simpler

[2016-10-01 18:39] ahaus commented on #32
Hi,
thanks for the update. Just wanted to let you know that setup.js fails on node 5.x (let not supported). It works on node 6.x

[code]

[2016-10-01 18:48] ahaus commented on #32
The issue with global.btoa(binData)  (bulk_docs.js, line 69) still exists and throws an error if the base64 encoded attachment (e.g. images) contains non latin1 characters. I changed line 69 as shown below since I already have the base64 encoded string in attachment.data and do not need to convert again. You will be able to reproduce the problem if you change the example base64 encoded string in e

[2016-10-01 18:51] stockulus commented on #32
If you want just create a pull request:)

[2016-10-04 17:06] cmrichards opened #33 "setMaxListeners seems to have no effect"
Hey,

Thanks for the great library!

I keep getting this message in the Android emulator :+1:

console.error "(node) warning: possible EventEmitter memory leak deteced. %d listeners added. Use emitter.setMaxListeners() to increase limit.", 11

According to the official docs (https://pouchdb.com/errors.html#event_emitter_limit) the answer is to do this : db.setMaxListeners(20);

I've tried this but

[2016-10-05 07:14] stockulus commented on #33
Hi Chris,

my only Idee is to set additional require('events').EventEmitter.defaultMaxListeners(20)
Otherwise I'd like you to ask for some sample Code that reproduced the Error?

Christoph

[2016-10-05 09:15] cmrichards commented on #33
I added :
[code]

And it did work, but my app still eventually hits the new limit of 21.

I'm pretty certain that the issue is that one of my change listeners is not being cancelled when I call cancel() on it.   I have tested this by opening the same Sample component a specific number of times until I see the error.

If I call this.listener.cancel() immediately after I create the listener in compo

[2016-10-05 10:54] stockulus commented on #33
hmmm sound difficult... and fits in my theory, Android Development on the Device ;)... but this does not really help.

How often in you app do you call fetchAndListenForSampleChanges?

[code]

can just run this and check if the output is the expected?

[2016-10-05 14:16] cmrichards commented on #33
fetchAndListenForSampleChanges is only called on one page.

I applied your code, and then went back and forth between the page and the previous one until I got this error :

[code]

The other page I went back to only creates one "changes" listener and this page is not unmounted and re-mounted because it is part of the navigation stack (NavigationExperimenta) and in the history, so that page isn'tt

[2016-10-05 14:36] stockulus commented on #33
Ok, that proves your code is fine.

Now the big Question is, where is the bug. In the "adapter-asyncstorage" or in PouchDB Core. I'll check it, but have to find some time for it

[2016-10-05 14:44] cmrichards commented on #33
Fortunately,  it doesn't break on a device.   Although maybe that explains why the DB reads seem to get slower as I use the app?

Here's all the code if you're curious : https://github.com/cmrichards/rn-jobs-and-samples-pouchdb-test

[2016-10-05 22:37] cmrichards opened #34 "Does downloading attachments work?"
Have you managed to download attachments with this library?   I'm trying all the different methods:  getAttachment,  and get(..., {attachments: true}), allDocs(.., { attachments: true})  but all I ever see is an empty string in the data field.

I'm not having any issues with saving and syncing attachments - that works just fine.

[2016-10-06 08:02] ymote opened #35 "any plan to integrate pouchdb-find plugin"
pouchdb-find is super nice to have

[2016-10-06 09:16] ewnd9 commented on #35
Please elaborate.
If I recall it correctly, `pouchdb-find` works on the top of `pouchdb`, there is no need to integrate it.

[2016-10-06 10:36] stockulus commented on #35
You can easily just create your own bundle, more infos under
https://pouchdb.com/2016/06/06/introducing-pouchdb-custom-builds.html

in general I'd like to keep the Default pouchdb-react-native bundle as small as Possible.

Sample Bundle could look like... make it Public if you want.

[code]

Christoph

[2016-10-06 10:37] #35 closed

[2016-10-06 10:41] stockulus commented on #34
Hi,

there can be still some issues with attachments, because i currently do not use them in my app. If you can provide a Sample that demonstrates the Problem (as Pull Request in the Example Project) that will help me debugging the issue

Christoph

[2016-10-06 10:44] stockulus commented on #34
Contributors also welcome ;)

[2016-10-06 20:04] ewnd9 commented on #35
@stockulus Actually, the order doesn't matter and plugins could be applied at any time, so it could be simply:

[code]

[2016-10-06 20:30] dendrochronology opened #36 "Install fails on node 4.x"
As @ahaus mentioned in [issue 32](https://github.com/stockulus/pouchdb-react-native/issues/32#issuecomment-250929260), install fails on stable node (4.x), due to unsupported use of `let`.

[2016-10-07 08:06] ahaus commented on #36
This is related to node 4.x and node 5.x. "let" for variable definitions is supported by node 6.x. I would recommend to use "var" instead of "let" for better compatibility by now.

[2016-10-07 08:23] stockulus commented on #36
it should be fixed now (6.1.17). I am not sure if this installation "hack" is working with npm2, it works with npm3.

[2016-10-07 09:43] ewnd9 commented on #36
The script won't work on npm@2, see https://github.com/stockulus/pouchdb-react-native/pull/37

Also `let` is available in `strict` mode in node@4

[2016-10-07 11:19] #28 closed

[2016-10-08 12:47] stockulus commented on #36
https://github.com/pouchdb/pouchdb/pull/5687
This is the only reason, for this setup hack.

so the solution should be to replace all pouchdb-binary-utils package.json files

[2016-10-12 15:30] blairio opened #38 "Pull Replication fails sporadically"
We had a big problem replicating with a remote CouchDB Server.
It wasn't 100% all the time, but most of the time the replication would continuously throw an undefined exception here: https://github.com/stockulus/pouchdb-react-native/blob/master/packages/pouchdb-adapter-asyncstorage/src/asyncstorage_core.js#L53

Also, we had a problem with conflict resolution. Sometimes the client would pick the wr

[2016-10-17 07:41] stockulus commented on #38
Hi,

can you help me to reproduce the error, i have no clue where to look. What are the values of keys in this case? There was also a new release of pouchdb just arrived here. There where some nodes about replication.

Christoph

[2016-11-05 07:24] JDeuce opened #40 "Document I can see in remote couchdb, does not show up in alldocs after syncing"
Just starting to debug this issue that has happened sporadically to me in an app I'm working on using this plugin.

I have a basic app using this with a few documents, that syncs to a remote CouchDB instance.

Right now I have a document with ID '2016-11-2' that doesn't show up in alldocs on PouchDB, even though it's there on the remote server. PouchDB reports the sync was successful, and other ty

[2016-11-07 17:58] ewnd9 commented on #40
Could you try to reproduce it locally (in terminal, not on a device/emulator) with `react-native-mock`, please?

[code]

[code]

[code]

[2016-11-07 19:40] JDeuce commented on #40
Hmm yeah thanks for the framework for testing. I'll try and get a better repro. I'm still not 100% sure how I've caused it even.

[2016-11-10 02:40] JDeuce commented on #40
I was able to reproduce a similar type of error in the playground, see my fork
https://github.com/JDeuce/pouchdb-react-native-playground/commit/28a82ef96c9bc9d07dc969d8eb51bc683ad7bc3b

I basically just introduce a simple conflict by inserting a document with the same ID into 2 local databases,
and then replicate it to a local PouchDB, and to a remote CouchDB.

My expectation is that after syncing

[2016-11-11 09:24] ewnd9 commented on #40
Could you also add assertions with any assertion library like [`assert`](https://github.com/defunctzombie/commonjs-assert), please? Sorry for not clarifying it in the first message

[2016-11-11 17:36] JDeuce commented on #40
Here's another test case with some assertions. I was also able to replicate the issue this time with local databases only.

https://github.com/JDeuce/pouchdb-react-native-playground/commit/7f341d1e27784b7f56d2badc8d20464351de9929

It seems like the winning rev is being determined by the order that replication happens, when it should happen deterministically based on the rev ids of the document.

[2016-11-11 18:16] JDeuce commented on #40
Here is the same test with the basic browser version of PouchDB in jsfiddle:

https://jsfiddle.net/s3aoc8a3/

The rev ids are consistent every time.

Feels like this is a definite issue in pouchdb-react-native.

Let me know thoughts.

[2016-11-12 20:52] ewnd9 commented on #40
Send a pull request #41 Hopefully it doesn't break anything beyond what is under the tests now

@stockulus Have you had a chance to look at the issue?

[2016-11-13 07:51] #40 closed

[2016-11-13 12:29] ewnd9 commented on #38
@blairio https://github.com/stockulus/pouchdb-react-native/pull/41 hopefully fixes that, try a new version, please.

[2016-11-22 19:28] ddolheguy commented on #34
Unfortunately I too can confirm that attachments don't work with this library (downloading from a source CouchDB I mean)....  Hoping this gets fixed soon as it's a shop stopper for me on this one.

[2016-11-22 22:01] ddolheguy opened #44 "Syncing Attachments of type blob"
Is there any way of syncing attachments of type blob?  By default (unless I'm wrong) PouchDB sync's all attachments from CouchDB as type Blob and it doesn't seem to be handled in the library?

I've done a ton of research on this and tried several things but I can't seem to get anything to work.  Does anyone have any ideas on how to deal with attachments?  I wouldn't mind at worst case if they wher

[2016-11-23 06:46] ddolheguy commented on #44
Finally after hours of research and reading I've got a solution and will raise a PR for this project today to finally solve BLOBS and attachments :)

[2016-11-23 07:51] #44 closed

[2016-11-25 16:48] dikarel opened #46 "Cannot run Jest unit tests due to import statements"
This library does not seem to play well with [Jest](https://facebook.github.io/jest/), which is what Facebook recommends for unit-testing React Native projects. I believe this is due to this library's usage of `import` statements.

Any chance the `import` statements could be transpiled away before being published to npm?

**Repro script**

[code]

**npm test output**

![screen shot 2016-11-25 at 1

[2016-11-26 04:53] ewnd9 commented on #46
This is correct, problem in es6 code in `node_modules`

You can modify the `jest` property in `package.json` in order to transpile `pouchdb-react-native`

[code]

See more at:

https://facebook.github.io/jest/docs/tutorial-react-native.html#transformignorepatterns-customization
https://github.com/facebook/jest/blob/master/packages/jest-react-native/jest-preset.json#L18-L20

[2016-12-17 13:37] laurindo opened #47 "Problem to install"
I'm  trying install pouchdb-react-native, but it's happened a problem with my installation.

Node v4.2.5
npm  v2.14.12

![screenshot 2016-12-17 10 32 52](https://cloud.githubusercontent.com/assets/2501144/21287185/868ee47e-c444-11e6-8efe-9c7501b9060d.png)

[2016-12-17 14:11] laurindo commented on #47
Problem resolved with node 5.0.0

[2016-12-17 14:27] ddolheguy commented on #47
It's not a node issue.  You should use npm 3+ for all React Native development.

[2016-12-23 08:19] arpecop opened #48 "pre-filled database"
I'dd appreciate an example of PDB pre-installed database, do we have to use sqlite plugin?

[2016-12-23 08:25] ewnd9 commented on #48
You could try to use https://github.com/nolanlawson/pouchdb-load to load from a device filesystem.

The general rule of thumb is that pretty much anything from pouch ecosystem should work.

[2016-12-23 09:55] arpecop commented on #48
Is it possible in the path of development  with the testing device to pre-fill the database and avoid slowdowns with the end-user device
 new PouchDB('./mydb.db',
how does absolute paths work in that scenario , I remember tested that before and no /mydb.db was not generated/visible on the project folder
Thanks

[2016-12-25 22:33] ddolheguy opened #49 "Bulk_Doc error in replication for _deleted docs"
After a lot of debugging, I found a major issue with the Bulk_Docs file, in relation to filtered replication.

Specifically:
https://github.com/stockulus/pouchdb-react-native/blob/master/packages/pouchdb-adapter-asyncstorage/src/bulk_docs.js#L132-L135

When updating the document marked with ```_deleted: true``` all properties on the document except the ```_id, _rev and _deleted``` are removed whic

[2016-12-26 07:45] stockulus commented on #49
https://github.com/stockulus/pouchdb-react-native/pull/50

[2016-12-26 07:45] #49 closed

[2016-12-26 07:47] stockulus commented on #38
reopen if still is an issue

[2016-12-26 07:47] #38 closed

[2016-12-26 07:47] stockulus commented on #33
reopen, if this is still a issue

[2016-12-26 07:47] #33 closed

[2016-12-26 07:51] stockulus opened #51 "Installation fails with npm2"
Installation via npm 2 fails.

See also:
https://github.com/stockulus/pouchdb-react-native/issues/47
https://github.com/stockulus/pouchdb-react-native/issues/36

Reason:
https://github.com/pouchdb/pouchdb#5687

[2016-12-26 07:51] stockulus commented on #36
https://github.com/stockulus/pouchdb-react-native/issues/51

[2016-12-26 07:51] #36 closed

[2016-12-26 07:52] stockulus commented on #47
https://github.com/stockulus/pouchdb-react-native/issues/51

[2016-12-26 07:52] #47 closed

[2016-12-26 08:01] ewnd9 commented on #51
@stockulus Why did you close #37 without any comment? I believe prior work may help if someone would decide to fix that

[2016-12-26 08:23] stockulus commented on #51
reopened it, do not believe someone will fix it, I won't

[2017-01-06 02:09] jaredly commented on #48
@arpecop you might want to look at https://github.com/johanneslumpe/react-native-fs or something if you're trying to load something from the filesystem.

[2017-01-06 15:34] ddolheguy commented on #51
Personally I would close this as well since the majority of React-Native libs require npm 3+ and hence I would just make this a base requirement.  Agree I can't see this being fixed.

[2017-01-13 06:00] prasad-ksrd opened #54 "Websql throws an error when Remote js debug disabled"
Hi

Hope you are doing good.I need a help from you

var db = new PouchDB('test');
var rdb = new PouchDB('https://XXXXX.cloudant.com/test', {skipSetup: true});

How to Sync two database withpout websql..If websql is the only way means how it will work in android application if remote js debug disabled?

Please advise

[2017-01-19 14:31] stockulus commented on #54
Hi,

have you tried the sample Application?

It should not require any remote debugging.

[2017-03-12 16:58] derkaan opened #55 "endless loop in "npm install""
I followed the installation instructions from the readme, but it looks like that the command npm install runs into an endless loop.

These are the followed commands:

[code]
My used npm version is 4.1.2

[2017-03-15 10:07] stockulus commented on #55
Hi,

npm install takes a while, because it does the install of pouchdb as well.

Just tried it again, but i can not see the Problem you report.

Greez
  Christoph

[2017-03-15 17:23] mattread90 opened #56 "changes feed with include_docs: true should only return winning revisions"
According to the last paragraph of [this blog post](https://pouchdb.com/2015/02/28/efficiently-managing-ui-state-in-pouchdb.html):

the changes feed should only return the winning revision of a document on any changes.

Using pouchdb-react-native I have seen that the changes feed can return non-winning revisions, which causes the technique Nolan describes in the above post to not work.

[2017-03-20 13:44] #46 closed

[2017-03-20 13:44] #55 closed

[2017-03-20 13:44] #54 closed

[2017-03-20 13:45] #48 closed

[2017-04-11 09:26] tseck opened #57 "So what about attachments now?"
Hi there,

so I've tried the attachments and am getting a ETIMEDOUT-Error on getAttachments(..) and the attachments are not downloaded/synced automatically.
I am syncing the remote to the local db and getting the documents with db.allDocs({include_docs: true, limit: null, attachments: true}), still no attachments.
Via curl it goes, it can download attachments.

Is there anything else I would need

[2017-04-11 13:38] stockulus commented on #57
Hi,

sorry for the inconvenience. I know that there are still Problems with Attachments, but i did not find private time to investigate more. My Current Projects do not need attachments, and I don't get paid for this package.

If you want to fix that, please go ahead, PR and help is welcome.

Thanks
  Christoph

[2017-04-11 13:42] der-ede commented on #57
@stockulus ,

thank you, no problem, I just thought someone might know.

[2017-04-11 13:47] der-ede commented on #57
I know its all open source, its just that since people are using it and sacrifice time for it it would be convenient to state what the library can offer and where the limitations are.

[2017-04-11 14:02] stockulus commented on #57
I updated the readme

[2017-04-11 14:03] der-ede commented on #57
thank you

[2017-04-11 14:03] der-ede commented on #57
and also hi from Darmstadt :)

[2017-04-18 05:19] tienlm1509 opened #58 "[Android] java.io.EOFException"
i change anything my code, i must be run "react-native run-android" again ?
![123](https://cloud.githubusercontent.com/assets/9527460/25115548/532814d2-2431-11e7-8ee6-7b9de0f7c57e.png)

[2017-04-18 10:17] stockulus commented on #58
did you try the example Project?

Christoph

[2017-04-19 18:34] tseck opened #59 "Does not sync revision updates"
Hi there,

in my project which is generally based on your example app (https://github.com/stockulus/pouchdb-react-native/tree/master/example), it firstly does sync and the local DB gets the entries of the remote one, but then it does not re-sync on revision updates which were made by another server (e.g. node-nano), or even when different revisions are already present only the first revision is sy

[2017-04-19 19:06] tseck commented on #59
Found the error :)

[2017-04-19 19:06] #59 closed

[2017-05-07 12:53] evanmartin opened #61 "TypeError: Cannot read property 'then' of undefined"
I am running into this error whenever I try and do anything with the local database.

For example:
[code]
When this is executed the data is put into the local database however I get the error
[code]

This doesn't happen when this is the remoteDB so I am assuming it has something to do with promises and asyncstorage but cannot work anything more than that out.

EDIT: Was conflicting packages causin

[2017-05-09 23:33] #61 closed

[2017-05-19 14:35] tseck commented on #33
Hello,

I can also confirm this issue, I already set the setMaxListeners to 100, but the problem is that onChange-updates are still coming in even if the Component is unmounted, and I cancel the synchronization in *componentWillUnmount()*, which leads to wrong *this.setState({ . . . })* calls since *setState()* requires a mounted component.

Any idea?
And did someone find out in the meantime in wh

[2017-05-19 20:44] patriciagarcia opened #65 "Changes feed response missing `last_seq`"
## What's happening?

If there are no new changes since the seq number specified with the `since` parameter, [`changes` response omits the `last_seq` field](https://github.com/stockulus/pouchdb-react-native/blob/master/packages/pouchdb-adapter-asyncstorage/src/changes.js#L56).

## Why is that a problem?

The PouchDB replicator uses the `last_seq` field to update the checkpoint that marks the last

[2017-05-20 10:49] #65 closed

[2017-05-26 02:58] jurassix commented on #55
I experience this same problem, it was due to the `pouchdb-original` submodule was missing. Once you clone the submodule the issue is resolved.

[2017-05-27 10:26] #58 closed

[2017-05-27 10:47] stockulus commented on #55
thanks for that hint, just updated the readme

[2017-05-30 08:14] #32 closed

[2017-05-31 21:02] jurassix opened #68 "Attachments Support"
## This issue is to act as a placeholder for work remaining to fully support Attachments.

### The remaining issues are as follows:

1. On replication **to** remote CouchDB where the local doc contains an attachment it should successfully sync the doc and attachment data. **If doc contains an attachment sync fails.**
1. On replication **from** remote CouchDB were the remote doc contain an attachme

[2017-05-31 21:04] jurassix commented on #68
Any additional approaches, solutions, consideration, corrections etc. is greatly appreciated. I'll keep the issue up-to-date will all progress.

[2017-06-01 11:29] stockulus commented on #57
There is now work on attachments, will be coordinated with Issue:
https://github.com/stockulus/pouchdb-react-native/issues/68

[2017-06-01 11:29] #57 closed

[2017-06-01 11:30] stockulus commented on #34
There is now work on attachments, will be coordinated with Issue:
https://github.com/stockulus/pouchdb-react-native/issues/68

[2017-06-01 11:30] #34 closed

[2017-06-02 10:53] mlecoq opened #70 "pouch-find & create index"
I have added pouch-find in my project in order to be able to make find queries (last pouchdb version embed pouch-find but no the one used in pouchdb-react-native).

Find queries work well but
When I want to create a simple index

[code]

My app crashes (without any log)

[2017-06-02 16:05] stockulus commented on #70
Can you provide me an sample project, that I can npm install
npm run ios
Greez Christoph

[2017-06-07 17:40] jurassix commented on #68
Update:

I've got both scenarios working: V8 Debug and JSC Release by using [react-native-fetch-blob](https://github.com/wkh237/react-native-fetch-blob). `react-native-fetch-blob` polyfills both XMLHttpRequest, Fetch, and Blob. The Blob implementation defers to a `Native` implementation and relies on the devices file system to store the blob. With this library we can easily fetch blobs and transfo

[2017-06-08 15:03] mlecoq commented on #70
You can close this one. I was not able to build an example and after erase of pouchdb database everything worked fine. It was in a strange state.

[2017-06-08 15:03] #70 closed

[2017-06-20 19:07] jurassix commented on #68
I finally have a working branch that supports Attachment replication/sync in both V8 (Debug) and JSC (Release) modes. _Currently tested in iOS_. There are 8 failing regression tests (from the original pouchdb regression set) that I'll be fixing soon.

Code is in a branch on my fork here: https://github.com/jurassix/pouchdb-react-native/tree/attachments

The main enhancements are as follows:

1. **

[2017-06-21 08:09] stockulus commented on #68
@jurassix Thanks for the great work you did!

If you like to chat/talk with me about the integration just ping me via Twitter. In the evening Hours Central European Time works best for me.

[2017-06-27 01:35] frangeris opened #72 "Pouchdb.default is not accepting the prefix option"
Thanks for this bridge :]

I'm having some issues trying to specify the path for the db file, first I thought that could be related to the adapter, because by default is using `asyncstorage` and in (API References)[https://pouchdb.com/api.html#overview] says:

So I tried installing the `pouchdb-adapter-idb` and retry passing the prefix in `options`, but is not creating the db file.

[code]
<img wi

[2017-06-27 08:13] stockulus commented on #72
Hi @frangeris,

pouchdb-react-native is not supporting any prefix now. All Data is written to the AsyncStore.

"On iOS, AsyncStorage is backed by native code that stores small values in a serialized dictionary and larger values in separate files. On Android, AsyncStorage will use either RocksDB or SQLite based on what is available."
https://facebook.github.io/react-native/docs/asyncstorage.html

B

[2017-06-27 10:34] reutopiaer opened #73 "Module parse failed"
ERROR in ./node_modules/pouchdb-adapter-asyncstorage/src/all_docs.js
Module parse failed:  node_modules/pouchdb-adapter-asyncstorage/src/all_docs.js Unexpected token (40:8)
|     if (includeDoc && !doc.deleted) {
|       result.doc = {
|         ...doc.data,
|         _id: doc.id,
|         _rev: doc.winningRev

[2017-06-27 11:22] stockulus commented on #73
?

can you provide a sample that produces this Error?

[2017-06-27 15:55] frangeris commented on #72
Any way to access to the db file? I'm interested in use the database file from an embedded app inside the mobile app, but how can I specify where the file should be saved?

Thanks,

[2017-06-27 16:56] stockulus commented on #72
not sure, you should have a look in the AsyncStorage Specs and implementation (of react_native) and it is different each Platform

[2017-06-27 16:57] frangeris commented on #72
Thanks @stockulus

[2017-06-27 16:57] #72 closed

[2017-06-28 13:59] BroshkovD opened #74 "error connect to CouchBD"
I have code:
import PouchDB from 'pouchdb-react-native'
const remoteDBDocs = new PouchDB('http://admin:admin@127.0.0.1:5984/docs')

console.log('remoteDBDocs',remoteDBDocs);
remoteDBDocs.allDocs()
        .then(r => console.log('r', r))
        .catch(err=>console.log('err', err))

which give error:
err Object {status: 0, name: "unknown", message: undefined}

[2017-06-29 08:26] reutopiaer commented on #73
https://github.com/pubkey/rxdb/blob/master/examples/react-native/src/index.js line25 RxDB.plugin(require('pouchdb-adapter-asyncstorage').default);
Sorry,I'm a new learner. I just run this demo.

[2017-06-29 08:58] reutopiaer commented on #73
webpack config error

[2017-06-29 08:58] #73 closed

[2017-06-30 09:48] BroshkovD commented on #74
Founded solution. Connection string should be
const remoteDBDocs = new PouchDB('http://admin:admin@YOUR_COMPUTER_IP:5984/docs')
(if not work change 127.0.0.1 to your_ip in couchDB settings)
as emulator do not have access to localhost

[2017-06-30 09:48] #74 closed

[2017-06-30 09:48] BroshkovD commented on #74
Founded solution. Connection string should be
const remoteDBDocs = new PouchDB('http://admin:admin@YOUR_COMPUTER_IP:5984/docs')
(if not work change 127.0.0.1 to your_ip in couchDB settings)
as emulator do not have access to localhost

[2017-07-15 16:50] kkbhav opened #75 "PouchDB remote instance not taking new params"
When I try to assign new authentication parameters to remote pouchdb, Pouch does not use new params and keep syncing using old authentication parameters. Can you please look into this issue and let me know if it is from my side or something is wrong inside.

For eg
remote = new PouchDB(http://user1:pass1@pouch.com
remote = new PouchDB(http://user1:pass2@pouch.com

PouchDB.replicate(remote, local)

[2017-08-01 10:57] sm2017 commented on #73
@reutopiaer I have same issue , How you solve it?

Can you share webpack config?

[2017-08-01 11:01] sm2017 opened #76 "Module parse failed"
I have same issue https://github.com/stockulus/pouchdb-react-native/issues/73

Which babel presets I must use??

[2017-08-03 07:13] radiegtya opened #77 "Error: Invalid Adapter: http"
I am using RN 0.47.1. This error happened when I am initialize remoteDB.

here is my code:
[code]

Please help

[2017-08-03 08:02] stockulus commented on #77
Hi,

Did you try out the example Project, if it is working there for you?

Christoph

[2017-08-03 08:09] stockulus commented on #75
Hi,

this might be not related to this package, because it is just using the http adapter of the pouchDB, but i have currently no time for deeper investigation.

in any case it would be good to have a Project / Test Case that demonstrates the Issue.

Christoph

[2017-08-03 08:16] radiegtya commented on #77
Sorry it was my mistake.

But maybe you should update the doc..

I am wrong importing "pouchdb-core" rather than "react-native-pouchdb"

[2017-08-03 08:16] #77 closed

[2017-08-03 11:54] radiegtya commented on #77
Yea its working but the sync not work as expected. Need multi refresh to get synced data

Sent from my iPhone

[2017-08-04 08:55] kkbhav commented on #68
@stockulus @jurassix Any new developments on this?

[2017-08-04 12:33] jurassix commented on #68
@kkbhav I'm still using the fork from above for my needs. I think we should be able to move this work into an official branch and release under a tagged npm version as a first next step.

Something like `pouchdb-react-native@attachment`?

@stockulus I'll reach out to you via Twitter this weekend to talk about options. Moving this into a mainline branch and releasing it will go along way in getting

[2017-08-04 13:09] stockulus commented on #68
@jurassix thats fine for me.

Is there additional setup work needed like react-native link...? If so, I'd write some documentation.

[2017-08-04 13:45] jurassix commented on #68
Nope the only thing that is needed for attachment support is for users to follow the install instructions from  [react-native-fetch-blob](https://github.com/wkh237/react-native-fetch-blob) and then add the following code to you app:

[code]

[2017-08-04 13:49] jurassix commented on #68
Note, a project to watch out for in the future will be [react-native-node](https://github.com/staltz/react-native-node) which essentially allows us to run a node.js instance in the background of our apps (currently only supports Android.) With this project we should have many more options for handling attachments in the future.

[2017-08-04 15:01] stockulus commented on #68
I am already watching this Project, would be so great, not only for this Project!

[2017-08-06 05:06] sm2017 commented on #76
Help me please

[2017-08-08 04:52] sm2017 commented on #76
??????????

[2017-08-08 09:46] stockulus commented on #76
I have no clue about this, @reutopiaer properly has.

for me react-native works

[2017-08-13 15:29] stockulus commented on #68
@jurassix if you create a Pull Request agains
https://github.com/stockulus/pouchdb-react-native/tree/attachments
I'd take care of the Documentation and publish it on npm with @ attachment

[2017-08-15 15:31] jurassix commented on #68
@stockulus thanks for setting this up. I'm swamped with deadlines through Friday. Hopefully I'll have some this weekend to port over.

Can I assume that each of the existing `packages` _pouchdb-adapter-asyncstorage_, _pouchdb-react-native_  (plus the two I've added) will be released as `@attachment` version?

Right now I just have relative paths between the packages in my branch, would be best to

[2017-08-15 15:36] stockulus commented on #68
@jurassix no stress!!

I'd publish them on npm with @attachment version and write few line in the readme about it

[2017-08-19 04:13] brunoreis opened #78 "Sync stopped working (sending modifications) on android."
I installed and set up my sync today. It was working just fine, like a beautiful dream :-), but the dream suddenly stopped. Well, let's get to details:

- using expo.io (xde v 2.19.3)
- using:
[code]
synchronizing with:
[code]
*behaviour*

I opened a app on my Moto X Play android (using expo Share button) and another on iOS Simulator (using expor also). They were working just fine, but after a whi

[2017-08-20 14:35] dannyshisler opened #79 "Connection concurrency issues"
I've found a strange side-effect from trying to use multiple concurrent db connections.

I wrote a base class that instantiates a new connection each time I want to make a db call.  On user sign-in or sign-up, I persist to pouchdb my logged-in `User `and an `AuthToken `using `User `and `Auth `classes that derive from the base class.  Both `put `calls happen at roughly the same time - when logging

[2017-09-05 20:22] Franklin62120 commented on #68
Hi,

I'have problem when I use "npm install pouchdb-react-native@attachment" command.
Is that supposed to work ?

[2017-09-06 09:24] stockulus commented on #68
Sorry did not manage it yet, still waiting for the merged code. Try install via git link from @jurassix

as soon the https://github.com/stockulus/pouchdb-react-native/tree/attachments is up to date, I'll publish it.

[2017-09-06 12:31] jurassix commented on #68
@Franklin62120 @stockulus Hopefully I'll start working on the Attachment Release soon, until then let me know if you have any issues installing via Git. The only issues I've encountered is npm versions unpack the project slightly different. If you hit any issues in the interim please raise them and I'll help where I can.

Again, apologies on the delays.

[2017-09-07 15:03] Franklin62120 commented on #68
Ok, thanks. It's not blocking for my project.
I'll just wait a future attachment release.

[2017-09-25 09:22] godehardt opened #80 "Sync issues when more than three databases"
We found a mysterious behavior by investigating some trouble we had.  After a lot of debugging we boiled it down to the number of databases we want to sync with a couchdb instance.

Below you'll find a minimal example:
    https://www.dropbox.com/sh/71r0jkdi05e58zx/AABtzR2kEESYYnQIib99Wlg4a?dl=0

Here are the steps to reproduce the behavior (also described in readme.txt):
1. Create Project
    rea

[2017-09-28 19:32] jurassix commented on #68
@stockulus I've started working on the migration. Hopefully I'll have this completed this weekend.

[2017-09-29 09:34] #75 closed

[2017-10-01 00:06] shadowmynd opened #81 "Create typescript definitions"
No typescript definitions exist which makes it less desirable from a hotswap perspective with pouchdb proper when using the compilerOptions.noImplicitAny setting.

[2017-10-02 08:31] stockulus commented on #81
I do not use typescript at all, but if you do a pull request that adds the type definitions, I'll accept it and publish them

[2017-11-04 15:36] Dallas62 commented on #80
Hi!

I experienced the same issue but without pouchdb-react-native (Expected for AsyncStorage support I don't know what this library add).
PouchDB throw an ETIMEDOUT too but it's not caused by the library but by the mobile/OS.
iOS has a limit of 4 connections on the same host, and I think it came from that.
Removing the {live: true} and syncing manually is working.

[2017-11-14 14:33] vladjap opened #83 "Can't connect to remote DB"
I have problem with connecting with remote DB. This is my code snippet:
`import PouchDB from 'react-native-pouchdb';`
`PouchDB.plugin(require('pouchdb-adapter-asyncstorage').default);`
`const usrs = new PouchDB('http://127.0.0.1:3000/proba');`

`usrs.info().then(function (result) {`
      `console.log("info: ", result);`
    `}).catch(function (err) {`
      `console.log(err);`
   ` });`

I have t

[2017-11-14 15:19] stockulus commented on #83
Hi,

i do not know the package 'react-native-pouchdb';

if you use the package, do

[code]

[code]

http and asyncstorage adapter are already bundled

Christoph

[2017-12-04 16:55] vinz243 commented on #68
@jurassix how did it went? is attachment support stable now?

[2017-12-04 17:17] jurassix commented on #68
Still in-progress, again apologies for the delay. The fork is stable, I've been using it production for 6+months.
Expect update soon.

[2017-12-14 00:24] aanchan opened #85 "Example app simulator - undefined is not an object"
Hello,

When running npm run ios  I get a red screen on the simulator saying that looks like this:

![screen shot 2017-12-13 at 4 23 57 pm](https://user-images.githubusercontent.com/3464128/33969433-24196a12-e022-11e7-8407-767e08cb0e9e.png)

[2017-12-29 03:48] rodrigoelp commented on #81
Hi @stockulus, I've created the type definition for the library... here: #87

[2017-12-29 20:53] rodrigoelp commented on #81
Given the pull request was merged and accepted, I think this issue should be closed.

[2017-12-29 20:55] rodrigoelp commented on #51
Given the trail of this issue, and the fact most people do react native on node 6 or 8... I would close it as won't fix.

[2017-12-29 20:59] #81 closed

[2017-12-30 12:28] #85 closed

[2017-12-30 12:28] #51 closed

[2017-12-30 16:32] #76 closed

[2018-01-11 14:08] alburdette619 opened #88 "allDocs returns ALL docs"
pouch-react-native Version: `6.4.0`
RN Version: `0.51.0`
React Version: `16.0.0`
Adaptor: `asyncstorage`
DB: `Couchbase Sync Gateway v1.2.0`

### Description:
Despite providing the `keys` option as an array of document id strings, all docs are returned when calling `allDocs`.  This seems to include `_design` docs and any replicated docs, but possibly not `_local` docs.  The issue was introduced in

[2018-01-19 06:47] jhau commented on #88
I am seeing the same bug too, also 6.4.0

[2018-01-19 11:51] barbatus commented on #88
There is another one identical issue but on Cordova https://github.com/pouchdb/pouchdb/issues/7007.
The issue seems to be introduced in some of 6.4.1 pouchdb libs. 6.3.4 works fine for me.

[2018-01-20 00:37] newhopecreative opened #89 "PouchDB Sync not pulling attachments from remote db"
I'm developing an App on Expo with PouchDB.  Everything has been working great until today when I realized that attachments were syncing to the remote DB and not syncing back to the local DB.  Everything else syncs great just not the attachments.  The data string is left blank.

The way my app works - user takes a photo, the photo is saved to a local PouchDB and sync's with a remote DB.  Then I ad

[2018-02-13 15:36] wemakeweb commented on #68
Hey, any updates?

[2018-02-13 18:55] MrGurns commented on #68
Subscribing.

[2018-02-13 22:39] jurassix commented on #68
I’m still, slowly, making progress. Current status is trying to get all regression tests to pass.

[2018-03-05 14:14] craftzdog commented on #68
FYI: A PR that adds Blob support to RN has been finally merged:

https://github.com/facebook/react-native/pull/11573

[2018-03-05 17:11] stockulus commented on #68
@craftzdog that sounds great, that makes it much easier

[2018-03-05 20:37] jurassix commented on #68
@stockulus @craftzdog I knew my procrastination was purposeful. Most of the changes in this issue were to get Blob support to work with fetch, so we should scrap this work in favor of RN.

Guess we need to do a prototype with attachments and see if we are good.

[2018-03-12 13:23] nichesoftgh01 commented on #68
Is this feature done?

[2018-03-21 15:21] ozmaat opened #91 "PouchDB find is not a function"
It is mentioned [here](https://github.com/stockulus/pouchdb-react-native/issues/35) that we can create a custom build with plugins.

But  [pouchdb-find plugin](https://github.com/nolanlawson/pouchdb-find) has been moved to pouchDB  and it is not listed in pouch [plugins page](https://pouchdb.com/external.html) anymore.

When I use the find, "find is not a function" error is thrown. What is the rec

[2018-03-22 06:09] #91 closed

[2018-03-27 00:26] robertherber commented on #68
Any news on this? Considering PouchDB for a project but would need Attachments :)

[2018-04-06 09:47] reinhardholl commented on #89
+1, experiencing the same issue

[2018-04-06 14:13] stockulus commented on #89
see https://github.com/stockulus/pouchdb-react-native/issues/68

there is currently a workaround version by @jurassix
With the new Blob support of react-native it would be much easier to implement, but I have no time to rework at the moment

[2018-04-24 06:03] greenais opened #93 "Any support for ssl/https in replication?"
Does PDBRN somehow allow to use https in communication with server?
Plain text creds over network is always a bad idea...

[2018-04-24 06:13] stockulus commented on #93
Yes, just use https in the server configuration (remote pouchDB constructor) See also pouchDB docs

[2018-04-24 08:39] greenais commented on #93
Ok, thanks again, it's clear now.

[2018-04-24 08:39] #93 closed

[2018-04-26 14:49] delkant commented on #10
Hello, So.. does pouchdb-authentication plugin works ok with pouchdb-react-native? I couldn't find any sample app as @stockulus is saying on his comments..

Can anyone confirm this is possible?

[2018-04-29 09:40] greenais opened #94 "Does pouchdb-react-native support additional plugins?"
Hi,
My setup requires client authentication on CouchDB side and https.
According to docs pouchdb-react-native contains replication, HTTP and map/reduce plugins only.

In case I need .login plugin to get client authentication - could I :
1. require it within pouchdb-react-native module (if so
 a) which way?
 b) is AsyncStorage 6 MB limit already fixed there?)
or
2. the only way to attach additional

[2018-04-30 06:39] stockulus commented on #94
'use strict'

import PouchDB from 'pouchdb-react-native‘

PouchDB
  .plugin(YourPlugIn)

export default PouchDB

[2018-04-30 06:41] stockulus commented on #94
The android fix, is not applied automatically

[2018-05-01 03:37] greenais commented on #10
Yes, I confirm, it does. The usage is straitforward:

[code]

[2018-05-01 03:42] greenais commented on #94
Thank you. I've attached authentication plugin - it works as expected.

Any clue regarding exact file to apply android fix in, then?

[2018-05-01 20:06] stockulus commented on #94
https://codedaily.io/tutorials/4/Increase-Android-AsyncStorage-Size-in-React-Native

[2018-05-03 14:53] jurassix opened #95 "Upgrade codebase to use Prettier"
@stockulus are you open to removing the current _standard.js_ formatting rules and replacing with [Prettier](https://github.com/prettier/prettier)?

One of the harder parts of contributing to this code base was cleaning up the codebase to match standard, while many of the rules can be automatically fixed the developer workflow was pretty slow for me.

We could do the migration as a single shot, ad

[2018-05-03 15:28] stockulus commented on #95
.prettierrc like
[code]
I would be totally fine

[2018-05-03 15:38] jurassix commented on #95
Cool, I'll open a PR with this proposal for you to review.

[2018-05-03 15:38] #95 closed

[2018-05-04 00:33] equesteo commented on #68
I've spent all day trying to get this to work any way possible, and am hitting a brick wall with being able to install the forked branch from npm and get it working. If I edit my `package.json` as indicated above to have the `#attachments` branch, npm won't install anything, and if I do ` npm install --save github:jurassix/pouchdb-react-native#attachments` I get an error:

Error: Cannot find modul

[2018-05-04 16:35] jurassix commented on #68
@equesteo yes I'm also experiencing this issue now. I've update the postinstall script, so the error you reached should be resolved. There are a couple other issues I'm seeing. The package is now being installed under the `pouchdb-react-native-bundle` module name, and the version of npm is important.

To resolve the module name issue, I've renamed it manually inside my node_modules to be `pouchdb-

[2018-05-17 15:42] bgold0 opened #96 "not replicating .to() but .from() is working"
For some reason documents created on my app are not showing up on my remote `couchdb` database.

I am using the following

    let company_id = await AsyncStorage.getItem('company_id');
    let device_db = new PouchDB(company_id, {auto_compaction: true});
    let remote_db = new PouchDB('https://'+API_KEY+'@'+SERVER+'/'+company_id, {ajax: {timeout: 180000}});

    device_db.replicate.to(remote_db)

[2018-05-23 14:51] bgold0 commented on #96
So I'm really not sure why but the moment I changed

    let device_db = new PouchDB(company_id, {auto_compaction: true});

to:

    let device_db = new PouchDB(company_id, {});

I have a feeling this is a bug as the guys over at [pouchdb](https://github.com/pouchdb/pouchdb/issues/7280#issuecomment-391374050) said this shouldn't impact syncing.

[2018-05-24 17:02] bgold0 opened #97 "query() is not working as expected"
For some reason my filter is not working correctly. It was working fine a moment ago and then for some reason it stopped returning all of the templates and only started returning one of them.

Any help as to why it's returning it twice but only giving me one would be greatly appreciated.

I have the following code:

	export async function testMe() {
		const company_id = await AsyncStorage.getItem(

[2018-05-28 20:37] bgold0 commented on #56
I'm interested in more info about this.

[2018-05-29 16:59] bgold0 opened #98 ".query() bug when updating documents"
Let's say I have these three documents:

	{ "_id": "11111", "type": "template", "name": "person" }
	{ "_id": "22222", "type": "template", "name": "place" }
	{ "_id": "33333", "type": "template", "name": "thing" }

I have a cloud database and then I have a device with pouchDB syncing from that database.

These are the steps that I do:

1. I sync both databases together. So now I have the most recen

[2018-05-29 21:10] greenais commented on #94
Thank you!

[2018-05-29 21:10] #94 closed

[2018-06-04 08:50] EternalDeiwos commented on #98
(duplicate of pouchdb/pouchdb#7293)

[2018-06-05 13:55] bgold0 commented on #98
Guys over at PouchDB are aware of the bug

[2018-06-05 13:55] #98 closed

[2018-06-18 07:06] ozmaat commented on #91
@ccfiel  - I am not using the find plugin at the moment but at that time I have manually added the pouchdb-find (version 6.4.3) under node_modules from https://github.com/pubkey/rxdb. And It worked.

[2018-06-18 07:35] ccfiel commented on #91
thanks @ozmaat !

[2018-06-21 08:21] rasmustrew commented on #68
@jurassix Whats the current status of attachments?
Does it work without the fork?

[2018-06-27 22:59] greenais opened #99 "replicate with doc_ids filter isn't supported?"
I'm trying to replicate from remote to local DB only certain docs using doc_ids option.
The code looks like:

[code]

Replication ends with

[code]

but

[code]

docList is strings array of docs IDs, docs are there in remoteDB as I can get them with remoteDB.get(docID) one by one - permissions therefore Ok as well.

Any help is appreciated - where to look for an issue?

[2018-07-01 15:45] greenais opened #100 "What is the proper way to update underlying pouchdb?"
At the moment PDBRN uses pouchdb-core@6.4.3, but pouchdb version 7.0.0 seems to be available already in npm.
So question is about proper way to update underlying pouchdb.
Is it possible or we should wait for PDBRN to be updated?

[2018-07-01 19:03] greenais opened #101 "PDBRN .allDocs with options.keys returns all documents in db"
Code

[code]
(where idsList is array of doc ID), returns all docs in db istead of specified docs only.

Probably it's related somehow to API changes in pouchdb mentioned
[here](https://github.com/craftzdog/pouchdb-adapter-react-native-sqlite/issues/7)?

[2018-07-09 07:05] g100-dev opened #102 "example not working on sync"
http://127.0.0.1:5984/test/_local/7c4Lb3ACIUWBoyXXe7qCcw%3D%3D?&_nonce=1531119384793 returns {"error":"not_found","reason":"missing"}

![image](https://user-images.githubusercontent.com/33089671/42435363-3db0da9c-8391-11e8-91a1-addbd823ce72.png)

is there anything wrong?

[2018-07-09 19:33] MrGurns opened #103 "Issue with sync becoming stale (or not properly reinitializing) after force closing app on Android when connecting to a SSL Authenticated Endpoint."
"expo": "^27.0.1",
"pouchdb-react-native": "6.4.1",
"react": "16.3.1",
"react-native": "https://github.com/expo/react-native/archive/sdk-27.0.2.tar.gz",

It seems to be only with SSL enabled CouchDB servers, and only happening when trying to reconnect to them (further, in app releases only, not the JS builds via expo).

Note: I have set up CouchDB according to: http://docs.couchdb.org/en/master/co

[2018-07-11 22:42] MrGurns commented on #103
Found my issue.
http://docs.couchdb.org/en/latest/best-practices/nginx.html seemed to be the biggest help. nginx was doing weird stuff with my cert.
Further, https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=48203146 helped me to diagnose and arrive at a solution.

Helpful hint to CouchDB Users: (look at your logs)

[2018-07-11 22:42] #103 closed

[2018-07-15 06:42] greenais commented on #98
I can confirm that after manaul combining latest plugins queries work as expected, no issues.

[2018-07-15 06:49] greenais commented on #100
Confirmed way is to combine pouchdb-react-native yourself like this:
[code]

This way one can be sure that all components are the latest.

[2018-07-15 06:49] #100 closed

[2018-07-31 09:36] paulbx81 opened #104 "Error - Can't sync my localDB with a couch DB in my RN project"
### Issue

I tried to sync my localDB with a couch DB which is installed into my computer and it work perfectly.

Now i want to do it with a couch DB which is installed into a server.

so i use this code :

[code]
THIS CODE WORK PERFECTLY WHEN I USE IT INTO WEB PROJECT IN INDEX.HTML
but if i use it in my react-native project i have this issue in JS debugger :

[code]

### Info
- React-Native
- Win

[2018-08-02 12:53] paulbx81 commented on #104
@stockulus

[2018-08-07 20:58] jwheat commented on #104
I had this exact issue this week. I got closer by using pouchdb-authentication

https://github.com/pouchdb-community/pouchdb-authentication

It successfully connects and I can dump the remote docs to the console, but I can't get a local db in my RN app to sync with the remote db, it red-screens.

I submitted an issue here ( https://github.com/pouchdb-community/pouchdb-authentication/issues/241 )

[2018-08-08 07:30] paulbx81 commented on #104
it work now, the problem was : i didn't have a REAL SSL Certificate for my https.
I don't use pouchdb-authentication. When we want to call a couchDB in other domain, it's necessary to enable CORS in this couchDB and to have a real ssl certificate for using HTTPS and not HTTP

[2018-08-08 10:05] greenais opened #105 "pouchdb-adapter-asyncstorage is outdated. Is project abandoned, what to expect?"
What doesn't work (on top of already stated almost useless attachments):

1) queries + replication
.query: once db with updated docs replicated from couchdb server to RN .query starts to return only the last updated doc (while others are presented in localDB as well)
.find: after any(!) replication stops to return any results at all
The most critical issue. The only available workaround is to get

[2018-08-08 14:51] jwheat commented on #104
Are you still using your server's IP address in the RN code in the sync command, or did you change it to the domain name in your cert?  BTW, curious, who did you use for your new SSL cert?

[2018-08-08 15:13] paulbx81 commented on #104
i change it to my domain name with https

[2018-08-09 12:07] stockulus commented on #105
please try
npm install pouchdb-react-native@next --save

if all ok, I'll update to version 7.0

[2018-08-09 13:16] greenais commented on #105
Great news! Thank you.
At first glance importing .find plugin brings errors while accessing indexes.
Let me try it with .query - I have to revert to old code which used it.

[2018-08-10 01:13] greenais commented on #105
Seems that replication is broken now. My code, which worked fine with old PDBRN (or bundle of old pouchdb-adapter-asyncstorage + PDB 7.0 core+plugins)
`localDB.replicate.from(remoteDB)`
now replicates no docs from same remote db

[code]

I can pull one doc but then saving it (with rev removed, off cause) gets strange result:
`' !!! PDB _saveDoc ERR localDB.put: ===== ', [] `

From code:

[code]

[2018-08-14 16:07] hummerh2 commented on #68
Any update? Would really like to use PouchDB but got to have attachments.

Thanks!

[2018-08-20 21:25] sheva007 commented on #105
Thanks @greenais for the comments which helped me at least not to keep hitting my head in the wall.
were you able finally to get a stable mix of working PouchDB especially with Find plugin?
Because after investing time and effort in PouchDB I am considering abandoning it to Realm

[2018-08-20 21:49] greenais commented on #105
@sheva007 No, .find doesn't work yet for me.
In my current project I use "old" pouchdb-adapter-asyncstorage in conjunction with the most recent (7.0) PDB plugins:

[code]

I really like CounchDB approach on server side - the key part is replication, sure, so I didn't consider Realm as an option as I see no point in reinventing weel with authentication/replication/version control etc. But if you do

[2018-08-20 22:04] sheva007 commented on #105
Thanks for the reply, were able to use any kind of filtering in Pouch DB? Getting all docs then filtering in code is hitting the performance hard

[2018-08-20 22:20] greenais commented on #105
Shure it does.
.query works just fine until you replicate some changed docs from CouchDB - then it returns the last changed doc only.

[2018-08-21 10:31] greenais commented on #105
.find works as well fine until replication, afer - zero results

[2018-09-05 10:02] to175 opened #106 "Dump docs got from database"
Hello, I use PouchDB like that :
`export const getItemsList = async () => {
  try {
    var docs = await local_database.allDocs({
      include_docs: true,
      attachments: true
    });
    return docs;
  }
  catch (err) {
    return false;
  }
}`

And I try to print {list} with this :
`this.state = {list : getRetailersList()};`

However when I do console.error(list) I see [Object object] but I

[2018-09-10 08:28] to175 opened #107 "Find is undefined..."
Hello,
I have an error when I try to find element by vi_part with db.find()
Can you help me please ?

The code to call find : https://gist.github.com/to175/69e2fc3b647c7408d18a43d1fdb37964

My database : https://gist.github.com/to175/f4685e4124b749c864874fde37f43474

The error :

              selector: {
                vi_part: "SCBPX"
              }
            })')
getCarModelsByViPart$
    i

[2018-09-11 08:15] paulbx81 commented on #107
install pouchdb-find and add this to your code :

import PouchDB from 'pouchdb-react-native'
import find from 'pouchdb-find';

PouchDB.plugin(find)

[2018-09-11 08:31] paulbx81 commented on #107
Good question ^^
anyway my .find is too long, 2 or 3 seconds.. and it's instant on web browser

[2018-09-12 08:55] to175 commented on #107
Thanks you,

What do you mean by your find is too long ? And why are you talking about web browser ? 😛

[2018-09-12 08:57] paulbx81 commented on #107
On my react-native app my .find() take 5 seconds
if i try this .find on webBrowser (with the same database couchDB) the .find take 250ms

(sorry my english is bad i'm french)

[2018-09-12 09:02] to175 commented on #107
Okay let's talk en français alors. Le .find() de ton application tu l'utilises grâce à pouchdb-react-native ou pouchdb-find ?

Quand tu dis que tu utilises un webbrowser tu veux dire que tu utilises la même fonctione .find() mais sur une base de donnée récupérée sur internet ? Genre en faisant db = PouchDB.create('http://....') ?

[2018-09-12 09:06] paulbx81 commented on #107
Merci ! 👍

J'ai une base donnée CouchDB qui contient des données.

J'utilise poouchdb-react-native sur mon application react-native pour interroger ma base de donnée couchDB.

Lorsque je fais un .find() sur mon application react-native vers cette base de donnée, la durée du .find() prend 5 secondes.

Si je fais un .find sur une page HTML en javascript en utilisant la librairie pouchDB et en ciblan

[2018-09-14 09:32] to175 commented on #107
Merci pour les détails 😄

J'ai du mal à saisir les différences. Pour mon cas (base PouchDB locale sur mon app react-native), je suis obligé d'utiliser le .find() de react native find ? ça va durer longtemps la requête tu penses ?

[2018-09-27 06:17] vjijardar opened #108 "Aborting when localdb to remote db 6.4.3 but pull is working (Replication Local to remote Not Working )"
Hello,
I'm using PRN - 6.4.3
the issue is when i'm changing the localdb and start the Pouchdb.replicate(localdb,remotedb) so i'm always getting  ETIMEOUT and Doc not pushed on couchbase server.

**Pouchdb 6.4.3
couchbase server  :  Enterprise Edition 5.0.1 build 5003
sync gateway : 2.0.0**

**{"code":"ETIMEDOUT","status":0,"result":{"ok":false,"start_time":"2018-09-27T06:10:22.869Z","docs_read":0,

[2018-09-30 15:13] chaisan commented on #68
guys, any updates on this? Demand is clearly significant)
Cheers!

[2018-10-04 07:55] greenais commented on #105
Any updates from mantainer, perhaps?

[2018-10-07 19:46] romanakash opened #109 "Can't find variable buffer"
I tried both the new and old version of pouchdb-react-native and I get this error saying variable Buffer cannot be found. When I remove the package everything works fine

[2018-10-08 20:31] romanakash commented on #109
Temporary fix is to install buffer as a npm dependency and include this code in App.js
`global.Buffer = global.Buffer || require('buffer').Buffer;`

[2018-10-20 15:33] sidgo28 opened #110 "Module `net` does not exist in the Haste module map"
My app is unable to run because of this error, which is due to the fact that net is a node module which I think not available for react native. Given that, I'm wondering why does this package depend on the pouchdb http adapter which use the said node module?

Or am I missing something? Thank you.

[2018-10-21 02:06] jwheat commented on #110
Try running "react-native start --reset-cache" I get haste map errors from time to time and this seems to work

[2018-10-21 07:39] sidgo28 opened #111 "Cannot assign to read only property exports of object"
I encountered this issue when I use haul instead of metro.

The reason is because in asyncstorage_core.js, `module.exports` is used along with `import`. Hence, the `export` keyword should be used instead of the commonjs syntax.

[2018-11-06 11:13] sidgo28 opened #112 "db.find doesn't work properly for custom indices"
db.find doesn't work properly for custom indices.

[2018-11-14 15:49] epshtielsl commented on #101
I too am seeing this behavior, using pouchdb-react-native 6.4.1.

[2018-11-14 16:35] epshtielsl commented on #101
Update: downgrading to pouchdb-react-native version 6.3.4 seems to remedy the issue.

[2018-11-21 00:01] greenais opened #113 "Is project abandoned? Will be here any future?"
In the latest RN 0.57.5 PDBRN produces warnings for every required plugin (and for pouchdb-core as well), RN claims to depricate cycles by the end of 2018.

[code]
And this on top of not working queries after replication and less important bugs...

Sole question to author: is there any chance that you will get back to your PDBRN in the nearest future?
Here is really a lot of brilliant job you've a

[2018-11-21 17:30] stockulus commented on #113
I am currently in talks with potential future maintainers. I currently not in the position to effort a lot of time. But feel free to change / create pull request etc. I'll try to approve them as fast as possible.

If you want to get a maintainer, just get in contact.

I still love the project and would like to see it continue, but my current focus is web development

Sorry for the inconvenience, b

[2018-11-22 07:58] greenais commented on #113
Thank you for clearing it out and for all the great job you've done here.
My experience, I'm afraid, won't let me take mantainer's responsibility yet, but I for sure will dig deeper to support project by PRs.
And let you have success on your new web assignments!

[2018-11-27 19:06] matikups opened #114 "Can't make it work with PouchDB Authentication"
Hello everyone,

I'm trying to make this work with the plugin PouchDB Authentication,
with no luck.

It throws an error:
Reference error: Blob is not defined

I tried to install another library reading blob, change the source code, among other things,
but still wont work.

[code]

Hope you can help me out with this.

Kind regards.

[2018-12-06 13:16] romanakash commented on #109
Try to add it on the top of index.js, and make sure sure to clean all the metro cache and watchman modules

[2018-12-06 13:45] trojek commented on #109
In react native project created using crna (via expo) I don't have `index.js`.

When I try to install watchman (`npm install -g watchman`) to execute `watchman watch-del-all`, I got a message: `npm WARN deprecated watchman@1.0.0: Package no longer supported. Contact support@npmjs.com for more info.`

I don't know how to clean metro cache.

I try to remove node_modules (`rm -rf node_modules`) and t

[2018-12-06 13:50] romanakash commented on #109
If you weren't already using watchman, you can skip clearing the watchman cache. If you're using expo here's an article about how to reset the cache https://forums.expo.io/t/how-to-clear-the-react-native-packager/1352/12

[2018-12-06 14:34] trojek commented on #109
I fixed it by changing npm to yarn... I delete `node_modules` and `package-lock.json`, then install everything using `yarn` and it works.
It works even if I remove: ` global.Buffer = global.Buffer || require('buffer').Buffer;`.
Just magic...

[2018-12-10 20:53] romanakash commented on #109
Can confirm works fine without the additional dependency and code

[2018-12-10 20:53] #109 closed

[2019-01-03 19:58] cjroth opened #115 "Replication from remote (HTTP) to local (AsyncStorage) seems to be broken"
When replicating from my CouchDB server (2.3.0) to React Native (0.57), the replication is stuck indefinitely in a pending state and no documents appear in the local database. I'm able to reproduce the behavior in an Expo Snack: https://snack.expo.io/@q7pvgvft6m/pouchdb-react-native-replication-bug using Localtunnel/ngrok to connect to my CouchDB server. This is also happening in my non-expo proje

[2019-01-06 14:57] alexiri commented on #68
We need this feature as well. Has there been any progress? Anything we could do to help?

[2019-01-07 21:05] jurassix commented on #68
@alexiri the only progress I have made was to release the original fork. You should be able to use Attachments with the following:

`yarn add @jurassix/pouchdb-react-native`

[2019-01-07 21:06] jurassix commented on #68
@alexiri you will also need to follow this comment too:
https://github.com/stockulus/pouchdb-react-native/issues/68#issuecomment-320252888

[2019-01-09 13:58] chichilatte commented on #109
I tried using yarn instead of npm – `Buffer` still couldn't be found (and yarn created a bunch of duplicate entries in my gradle/MainApplication.java files).

Cleaning the cache also had no effect. My terminal command run from the project folder:
[code]

Setting the global `Buffer` did work, but only when i replaced...
[code]

with...
[code]

Note: our project is using RN 0.56 updated to gradle 4,

[2019-01-10 01:11] Winglonelion commented on #109
@chichilatte i met same issues with you, and i resolved it with rn-nodeify

[2019-01-12 06:01] kkbhav commented on #68
Hi everyone, I tried to work with `@jurassix/pouchdb-react-native`, but was not able to get it working with the latest PouchDB.

Hence, I started working on my own patch to get the attachments support for react-native inspired by jurassix & stockulus implementation. People who are interested can give a try at [pouchdb-adapters-rn](https://www.npmjs.com/package/pouchdb-adapters-rn)

[2019-01-16 05:59] seigel commented on #113
Any luck finding maintainers sir? What kind of effort does it take for this project?

[2019-01-16 20:40] seigel commented on #113
Right.  Well what I will do, is what you suggested above.  I'll try and get familiar with the code and try and attempt some PRs to make things move forward.  Not sure how successful I will be, but I will make an attempt.  Thanks for all your hard work to date.  This is an important package.

[2019-01-20 19:37] matikups commented on #114
The problem was due to a React Native versión, since version 16 they introduced Blobs.

Closing.

[2019-01-20 19:37] #114 closed

[2019-01-20 19:39] matikups commented on #104
So it's the problem solved?

[2019-02-09 13:43] garfieldnate commented on #68
@jurassix I would like to pick this up. The first step for me is simply running the PouchDB test suite in the RN environment. Looking at the comments here, it sounds like you were able to do that. How can I do this? I think just getting that running in travis would be an immense help for this project.

[2019-02-09 20:55] jurassix commented on #68
I think the only special part was making sure you pull the submodule for the base project. This library used an existing test suite to validate the functionality.

I'd start with the current master branch and get those running, then trying the same for the fork. All tests are not passing on the branch, lots of issues with Standard js linting etc.

[2019-02-10 09:02] garfieldnate commented on #68
Will do, thanks. Yes, everything breaks right now T_T. The PouchDB project itself has such extensive testing capabilities (see [TESTING.md](https://github.com/pouchdb/pouchdb/blob/master/TESTING.md)) that I am wondering if they would mind a PR to support RN, as well.

[2019-02-11 19:22] seigel commented on #112
@sidgo28 Just wondering if you could write a test that would replicate this problem.  Then I will try and create a fix.

[2019-02-15 18:07] garfieldnate commented on #68
Well, I'm putting this project down again. I tried to fix the tests in this repo, but I frankly have no idea how any of it works and was completely unable to get anywhere with development on it. My next idea was to get the PouchDB tests running on the simulator via Detox, but it turns out that Detox runs the mocha code in Node and only sends interaction signals over the network to the simulator. R

[2019-02-20 04:10] zeevl commented on #105
Interestingly, taking out `pouchdb-adapter-asyncstorage` and instead using [pouchdb-adapter-react-native-sqlite](https://github.com/craftzdog/pouchdb-adapter-react-native-sqlite) results in the exact same problem in the OP.   So it's not a `pouchdb-adapter-asyncstorage` problem, but something to do with one of the other core components?

[2019-02-20 11:11] greenais commented on #105
That's right, the issue is around the fact that PDB is designed to work in modern browsers environments (with V8 mostly) while RN uses JS Core - where several core functions (btoa i.e.) are implemented differently. That's why PDB guys just don't try to bother with RN issues - "it wasn't designed for RN, sorry".
It means that PDBRN support involves quite deep substitutions/shims to new versions of

[2019-03-07 20:39] cjroth opened #118 "iOS Performance Considerations - Read Before Using"
Hello!

First off, thank you for this adapter!

I've been trialing a few mobile syncing options and different PouchDB adapters in the past few months and this was my pick until I realized there are some severe performance and memory issues on iOS.

### Overall Memory
I've been experimenting with a database of 5k documents (~10 revisions), totally ~7MB, and syncing this with a CouchDB cluster and i

[2019-03-16 04:57] neilakoh commented on #109
It would be so nice to remove the hassle of using "rn-nodeify" in fixing this issue in the next release.

[2019-04-04 07:00] ManishAhire opened #119 "Pouch DB not working in android"
Hi, Pouch DB is working fine in iOS device but not working in Android (Samsung Device).

[2019-04-04 13:30] ManishAhire opened #120 "allDocs return empty rows."
I stored data from API. Then if my application goes offline then I fetch data my pouch db, but its return empty rows.

o/p :-

`{ total_rows: 30, offset: 0, rows: [] }`

Here the total_rows is 30 but its return empty row.

Please help.

[2019-04-04 13:56] craftzdog commented on #68
Hey, I've got it to work with minimum changes to core packages.
Read my blogpost: https://dev.to/craftzdog/hacking-pouchdb-to-use-on-react-native-1gjh

[2019-04-05 07:10] greenais opened #121 "FYI: there is working alternative already"
For those who stepped in here in searching for updated and actually working RN PDB solution - the guy contributed recently a lot and fixed issues with sync and attachments:
[https://dev.to/craftzdog/hacking-pouchdb-to-use-on-react-native-1gjh](https://dev.to/craftzdog/hacking-pouchdb-to-use-on-react-native-1gjh)

[2019-04-25 01:05] cjroth commented on #121
The above link is perfect. I ended up coming to almost the exact same conclusion as @craftzdog and have been using PouchDB with RN successfully this way. The only issue I'm encountering is the database not getting fully destroyed by the time `db.destroy()` resolves, resulting in unpredictability next time you go to create it if it's unknowingly still there.

In addition to his article, you can rea

[2019-04-28 08:26] greenais commented on #118
Thank you for such a great research! Chapeau.

[2019-04-28 08:29] greenais commented on #121
@cjroth How do you deal with .destroy issue?
In my project I'm going to implement destroy as simple way to purge all db docs, are there any issues with creating the same name db after "destroy" old one?

[2019-04-29 00:50] cjroth commented on #121
@greenais I haven't really found a good solution yet. I use `.destroy` when a user logs out, purging all data - similar to you. I've tried generating a random database name each time so that there's never a conflict between old and new data, but even that seems to result in weird, unpredictable behavior (which is extremely weird and worth looking into deeper). I'm thinking a short term fix will be

[2019-05-07 08:52] duytq94 commented on #120
Hi @ManishAhire
I just found this things:
When I use console.log, I have the same issue to you
![image_2019_05_07T08_16_06_170Z](https://user-images.githubusercontent.com/24253421/57286617-d4b28d00-70df-11e9-84d6-f36442012d15.png)
But when I open debugger, it has data
![image_2019_05_07T08_16_31_473Z](https://user-images.githubusercontent.com/24253421/57286655-ed22a780-70df-11e9-8f80-965470aa6493.

[2019-05-07 15:11] ManishAhire commented on #120
Thank you @duytq94 , but when we parsed it, it gives empty rows. Don’t know why this happened.

[2019-05-08 01:50] duytq94 commented on #120
@ManishAhire
I just found this and tested: https://dev.to/craftzdog/hacking-pouchdb-to-use-on-react-native-1gjh
It works.

[2019-07-10 17:48] d4rth-v4d3r commented on #108
Did you solve this?

[2019-07-11 05:58] ervijjusty commented on #108
@d4rth-v4d3r  the issue is not solved yet due to the Pouchdb has not supported the couchbase sync gateway so we move ahead and migrate our DB.

[2019-07-11 22:24] d4rth-v4d3r commented on #108
Does this happen also for Apache CouchDb?

[2019-07-13 09:23] ervijjusty commented on #108
It's Working fine with Couchdb.

[2019-07-18 19:23] santi8194 commented on #104
Im trying to test with local host using http, Do I have to use https?

[2019-08-20 08:28] rdewolff commented on #80
What solutions are you using when you want to sync more than 4 databases ? You sync manually with some timer ?

[2019-08-20 08:47] rdewolff commented on #80
And why does it has a limit of 4 connections ? Is this iOS? The PouchDB lib? This RN port ?

cc @stockulus and @Dallas62

[2019-08-20 09:43] Dallas62 commented on #80
Hi!

I just find this:
https://stackoverflow.com/questions/35715790/in-ios-how-can-we-increase-http-connection-limit-per-host

But not tested.

My solution was:

I made a kind of "queue", at first, place all your collections in this queue, then sync same one by one and replay the queue.
You can lower overhead by adding some delay.

Then you should be able to create a more intelligent system like:

[2019-10-03 08:04] Unforgiven-wanda commented on #68
Hello,
Any progress on this issue?

[2019-10-19 14:44] greenais commented on #121
@cjroth Did you try to deploy PDB on 64-bit android real device? Unexpectedly (on the edge of release, gosh) I bumped into the fact that in debug mode it works (on device), but once assebled in release apk PDB stops replication with totally uninformative error like:

[code]
The same code on same device, how it could be possible?
32-bit version works with no issues though.
Almost smashed my head in

[2019-10-19 16:49] cjroth commented on #121
Nope I haven't gotten a chance to try it on Android yet.

On Sat, Oct 19, 2019 at 10:44 Alexander <notifications@github.com> wrote:

--
Chris Roth
    cjroth.com <http://www.cjroth.com>

[2019-10-28 22:05] mqtik commented on #119
Could you provide more information?

It works for me on Android.

[2020-01-09 11:07] rdewolff commented on #113
Ping!

[2020-01-09 12:20] stockulus commented on #113
still looking for a maintainer to take over.

I am doing more Web and Backend Development at the moment, and do not have that much time left over.

if would spend some time to hand over the Project and would like to see it continued.

[2021-03-25 19:03] arwysyah opened #135 "Stop Syncing after getting warning (node) warning: possible EventEmitter memory leak detected. 11 listeners added. Use emitter.setMaxListeners() to increase limi"
I ve got this issue when i tried to sync the data from local To remote (I am using Sql Lite )
After i upload the data (image and another attachment data) and sync to remote ,i ve got warning eventEmitter, i know there are some issues like this before , but i still can not solve this issue, sync stop ,so the data can not replicate to remote , but after i reload the app ,the data successfully sync.

[2021-03-30 11:33] #135 closed

[2021-05-07 23:51] mqtik commented on #118
Yeah.

For starters, you might want to drop AsyncStorage and use LevelDB: https://github.com/greentriangle/react-native-leveldb

On the other hand, it shouldn´t iterate with all documents for doing queries. That´s the memory killer.
But even with that, it wouldn´t perform like SQLite.

However, LevelDB does perform a lot better than SQLite.

[2021-05-28 02:29] krishna-404 commented on #91
So is there any way to use pouchdb-find or we need to just start using RxDB?

[2021-07-21 13:15] agape-apps commented on #113
Any updates?

[2021-07-21 18:32] stockulus commented on #113
Still looking for a maintainer. I'd recommend to reset up the project and just keep the Adapters.

[2021-07-21 19:05] seigel commented on #113
What’s involved in the maintenance?  I might be interested.

[2021-07-21 19:09] stockulus commented on #113
The Project did not get the love it needed the last years.

So there is some onetime work to do, other than this is easy.

I'd be happy to help to get it going

[2021-07-21 19:12] rdewolff commented on #113
You need to give it more love to get more 💘

[2021-07-21 19:29] seigel commented on #113
Sure, I’ll take a run at it.  If I can’t do it well, I will look for another person to give it love :D

[2021-07-21 19:32] stockulus commented on #113
if wanted we can do a Video call the next days.

[2021-07-21 19:39] seigel commented on #113
Sounds good.  What timezone are you in? And what is your availability over the next while (time of day etc..)

[2021-07-21 19:44] stockulus commented on #113
I live in Cologne, so Central Europe Time. Tomorrow evening I am out with old friends. Other than this I have time the next days.

[2021-07-21 19:56] seigel commented on #113
Let me figure out some windows. If not are you available next week?

[2021-07-21 21:00] stockulus commented on #113
Yes

[2021-07-27 04:14] seigel commented on #113
Sorry about that.  We were getting ready for some vacation days.  Are you
available 5pm Tuesday July 27th your time (I believe "today" for you?) or a
bit after?  Any how would you like to chat?  Plus, we should probably get
off the main mailing list, hah!

Cheers
James

On Wed, Jul 21, 2021 at 3:00 PM Christoph Stock ***@***.***>
wrote:

[2021-07-27 10:52] stockulus commented on #113
Hey James,

that's fine. Is Zoom Ok for you?

[2021-07-27 13:25] seigel commented on #113
Yessir

[2021-07-27 13:56] stockulus commented on #113
Christoph Stock is inviting you to a scheduled Zoom meeting.

Topic: Christoph Stock's Personal Meeting Room

Join Zoom Meeting
https://us02web.zoom.us/j/5767305366?pwd=MHMya2VGNS8vZHBNWHhCL3hPeWZUdz09

Meeting ID: 576 730 5366
Passcode: 415866

17:00 CET

[2021-07-28 00:46] seigel commented on #113
Hello.  I am just working on getting familiar with the space and will hopefully be working on a plan to work on some of the issues and get some updates out.  Bear with me, and submit patches and offer support!  We can't do this alone.

[2022-01-29 13:07] infosisio opened #148 "Status?"
Is this currently maintained/working? It looks to be running fine, but want to make sure before choosing it.

[2022-01-29 14:31] seigel commented on #148
There are some issues to resolve. I have plans to make it simpler to under stand and install. Just working on finding time to get that work done. If you google around a bit taekyom <--- spelling? Has a good article on how to get set up.

[2022-02-21 23:52] Guilleanto commented on #35
Following the advice I find this error in the log

Can't find variable: self

similar to this image

![image](https://user-images.githubusercontent.com/18471149/155039710-29a76627-ad71-4a40-990d-246c2a179749.png)

[2022-06-28 14:22] claritysoftwaregroup commented on #68
Is there any progress on this or should we say the project is not maintained anymore?

[2022-06-28 17:48] claritysoftwaregroup commented on #68
Thank you for your reply, I appreciate it. I will see if we can look into this and help, as it's a really important feature for us. I have looked at other solutions but PouchDB and CouchDB solve a various number of things for us.

[2022-07-19 19:28] Arthur-codeX opened #153 "Async Storage has been extracted from react-native core and will be removed in a future release."
Warning: Async Storage has been extracted from react-native core and will be removed in a future release It can now be installed and imported from '@react-native-async-storage/async-storage' instead of 'react-native'. See https://github.com/react-native-async-storage/async-storage

[2022-07-19 21:01] seigel commented on #153
Thanks. Yeah...i have to find some cycles to clean this up, apply the myriad of changes that others have done to keep this working and move forward.

[2022-07-22 14:32] cxandros commented on #153
hello, here is a patch for async storage, if you use version 7 you have to install async storage from pouchdb-react-native and install it separately.

[code]

for version 7 run
[code]

[2022-07-22 14:42] seigel commented on #153
I will take a look at this soon.  Thanks!

[2022-09-01 12:33] msotnikov commented on #148
Takuya Matsuyama

[2022-09-01 13:48] msotnikov commented on #153
@seigel I've made a PR https://github.com/seigel/pouchdb-react-native/pull/154

[2022-10-24 18:10] seigel commented on #119
Thanks for the feedback.  I'll see what I can do to figure out what is
going on.  If you have ideas on how to fix the problem, please let me know!

Cheers
james

On Mon, Oct 24, 2022 at 9:26 AM Prx - William ***@***.***>
wrote:

[2022-11-15 04:45] #113 closed